# pyc files
*.pyc
*.pyo
*.swm
*.swn
*.swo
*.swp
test.fs.*
test.fs
*.db
*.db.*
.ropeproject
.coverage
/.cache
/.tox
/ZeroDB.egg-info
/zerodb.egg-info
/activate
/server/db/db.*
/tmp
/dist
/download
/build
/docs/build
/zerodb/server.*
/zerodb/*.pem
